/*css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	background-color: var(--bg1);
	font-size: 12pt;
}

#terminal-container {
	width: 80vw;
	height: 80vh;
	overflow-y: scroll;
	margin: auto;
	margin-top: 10vh;
	font-family: "Roboto Mono";
	background-color: var(--bg2);
	box-shadow: 10px 10px 0px 0px var(--shadow);
	animation: rise .7s;
	overflow: hidden;
}

#terminal {
	padding: 20pt;
}

#input {
	display: inline-block;
}

#input:focus {
	outline: none;
}

.prompt, #input, .input-old {
	white-space: pre;
	color: var(--body1);
}

.output {
	white-space: pre;
	color: var(--body2);
}

/* ========= editing ========== */
#editArea {
	outline: none;
	resize: none;
	border: none;
	font-size: inherit;
	font-family: "Roboto Mono";
	color: var(--body1);
	background-color: var(--editbg);
}

/* ======= will be changed on the fly ========= */
:root {
	--body1: lightgray;
	--body2: gray;
	--bg1: #2b2b2d;
	--bg2: #1b1b1d;
	--editbg: #0b0b0d;
	--shadow: #0b0b0d;
	--highlight: pink;
}

::selection {
	background: var(--highlight);
	color: var(--bg2);
}

@keyframes rise {
	from {
		transform: scale(.99);
		box-shadow: 0px 0px 0px 0px var(--shadow);
	}
}
