/*css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;;
	vertical-align: baseline;
}


body {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 10pt;
	background-color: #151515;
	background-image: url("bg.jpg");
}

a.special {
	color: #dddddd;
	text-decoration: none;
	border-bottom: 1px solid #d0d0d0;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #adadad;
}

pre, #prompt {
    color: #adadad;
	font-family: "Roboto Mono", monospace;
}

::selection {
	color: #151515;
    background: pink;
}

pre {
    margin: 0;
    outline: none;
}

.output {
    color: #828282;
}

#terminal {
	display: block;
	overflow-y: auto;
	overflow-x: auto;
	top: -2ex;
	background-color: rgba(0, 0, 0, 0);
	color: #adadad;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	animation: side .3s;
}

.prompt {
    font-family: "Roboto Mono", monospace;
    display: inline;
	white-space: nowrap;
}

#input, .input-old {
	display: inline;
}

#terminal-container {
	padding: 12pt;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	max-height: 80%;
	background-color: #151515;
	opacity: 1 ;
	border-radius: 1px;
	/*center it vertically*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	animation: benis .5s;
}

/* uncomment for a gradient bar at the top */
/*
#terminal-container::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 10px;
background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
	top: -10px;
	left: 0;
}
*/

#clock, #date {
	float: right;
	font-family: "Roboto Mono", monospace;
	color: gray;
	margin-left: 1em;
	display: none;
}

#input>span {
	max-width: 100%;
}

@keyframes benis {
	from {
		margin-top: 2rem;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes side {
	from {
		transform: translateX(-2rem);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* ==== editor css ======= */
#editArea {
	background-color: rgba(1, 1, 1, .2);
	color: #adadad;
	outline: none;
	resize: none;
	border: none;
	font-size: inherit;
	font-family: "Roboto Mono";
}

#filename {
	float: left;
	font-family: "Roboto Mono";
	color: gray;
}
