:root {
	--highlight-color: lightgray;
	--body-color: #ccc;
	--bg-color: rgb(15, 15, 15);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: var(--bg-color);
    font-family: "Roboto Mono", monospace;
    color: var(--body-color);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	outline: none;
	box-shadow: none;
	border: none;
	color: var(--highlight-color);
	cursor: pointer;
	vertical-align: middle;
	padding: 0pt;
}

button i {
	transition: .2s;
}

#nextIcon, #prevIcon {
	font-size: 36pt;
}

#playIcon {
	font-size: 48pt;
}

#art-container {
	width: 600px;
	height: 600px;
	overflow: hidden;
}

#art-container img {
	position: absolute;
	width: 600px;
	height: auto;
}

#info-controls {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-color);
	padding-top: 15px;
	height: 5rem;
}
#info-controls div {
	flex: 1;
	align-self: center;
}

#buttons-wrapper {
	text-align: center;
	margin-right: 1rem;
}

@media(max-width: 800px) {
	#benis {
		display: none;
	}
}

#trackbar-container {
	width: 100%;
	cursor: pointer;
	position: absolute;
	height: 15px;
	top: 0;
}

#trackbar {
	background-color: white;
	height: 4px;
	width: 0px;
	vertical-align: center;
}

#songinfo {
	margin-left: 1rem;
}
#songinfo-wrapper {
	min-width: 30rem;
}

#main {
	width: 600px;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 7rem;
}

#tracklist p {
	cursor: pointer;
	margin-top: .5rem;
	display: inline-block;
}

#tracklist p:hover {
	color: white;
}

.song-name {
	font-weight: bold;
	font-size: 20pt;
}

#bg-image, #new-bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: -10;
	opacity: .2;
	filter: blur(100px);
	transition: .5s;
}

#new-bg {
	opacity: 0;
}

@keyframes fadeLeft {
	to {
		transform: translateX(-30px);
		opacity: 0;
	}
}

@keyframes fadeRight {
	from {
		transform: translateX(30px);
		opacity: 0;
		display: initial;
	}

	to {
		opacity: 1;
	}
}

#current-art.fadeLeft {
	animation: fadeLeft .5s 1 forwards;
}
#current-art.fadeRight {
	animation: fadeRight .5s 1 forwards reverse;
}

#new-art.fadeRight {
	animation: fadeRight .5s 1 forwards;
}
#new-art.fadeLeft {
	animation: fadeLeft .5s 1 forwards reverse;
}

#new-art {
	z-index: -1;
}

#current-art {
	z-index: 1;
}